/* Estilos generales */
body {
  padding: 0; 
  margin: 0; 
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh; 
}

/* Estilos para centrar el input y el botón */
.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 8px; 
  background-color: #fff; 
}

ion-item {
  width: 100%; 
  text-align: center; 
}

ion-label {
  text-align: center;
}

#nameInput {
  width: 100%; 
  margin-bottom: 10px; 
}

ion-button {
  width: 100%; 
  text-align: center; 
}

/* Estilos para las tarjetas */
#cardContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
}

ion-card {
  width: 200px; 
  margin: 10px; 
}

p{
  color: red;
  font-size: 14px;
  margin-top: 14px;
}